<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gerenciamento.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Editar</title>
   
</head>
<body>
    <header>
        <div class="nav container">
            <a href="index.html" class="logo">
                Movie<span>PY</span>
            </a>
    
            
            <!--User -->
           
    
            <div class="navbar">
                <a href="/" class="nav-link">
                    <i class='bx bx-home'></i>
                    <div class="nav-linl-title">Inicio</div>
                </a>
                
                <a href="{{ usuario.urlDoPessoas() }}" class="nav-link">
                    <i class='bx bx-user'></i>
                    <div class="nav-linl-title">Perfil</div>
                </a>
    
                <a href="/pesquisa" class="nav-link">
                    <i class='bx bx-compass'></i>
                    <div class="nav-linl-title">Explore</div>
                </a>
    
                <a href="/gerenciamento" class="nav-link nav-active">
                    <i class='bx bx-tv'></i>
                    <div class="nav-linl-title">Gerenciamento</div>
                </a>
    
                <a href="/logout" class="nav-link">
                    <i class='bx bx-exit'></i>
                    <div class="nav-linl-title">Sair</div>
                </a>
                
    
            </div>
    
        </div>
    
     </header>

<br>
<br>
<div class="containerr">
    <h2>Editar filme</h2>
    <form action="/editar_filme/{{ filme.id }}" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo-editar" required value="{{ filme.titulo }}">

    <!-- Campo de Gênero -->
    <label for="genero">Gênero:</label>
    <input type="text" id="genero" name="genero-editar" value="{{ filme.genero }}" required>

    <!-- Campo de Categoria -->
    <label for="categoria">Categoria:</label>
    <select id="categoria" name="categoria-editar" required>
        <option value="home">Home</option>
        <option value="popular">Popular</option>
        <option value="show">Show</option>
    </select>

    <!-- Campo de Data -->
    <label for="data">Data:</label>
    <input type="text" id="data" name="data-editar" value="{{ filme.lancamento }}" required>

    <label for="data">Descricao:</label>
    <input type="text" id="descricao-editar" name="descricao-editar" value="{{ filme.descricao }}" max="10000" required>
    <br>

    <label>Onde assistir</label>
  <div class="checkbox-group">
  {% for c in canais_lista %}
    <label class="custom-checkbox">
      <input type="checkbox" name="canais-editar" value="{{ c.id }}" {{ c.checked }}>
      <span class="checkmark"></span>
      {{ c.nome }}
    </label>
  {% endfor %}
  </div>
    <!-- Campo de Foto -->
    <label for="foto">Foto:</label>
    <input type="file" id="foto" accept="image/*" name="foto-editar">

    <!-- Campo de Vídeo -->
    <label for="video">Vídeo:</label>
    <input type="file" id="video" accept="video/*" name="video-editar">
    
        <button type="submit">Cadastrar</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/gerenciamento.js')}}"></script>

</body>
</html>
