<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Filmes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

  <!-- Demo styles -->
  

<body>
    <!-- headder -->
    <header>
        <div class="nav container">
            <a class="logo">
                Movie<span>PY</span>
            </a>

            
           
            <a href="" id="user-link" class="user" id="user-link" style="display:none;">
                <img id="user-img" src="" alt="" class="user-img">
            </a>

            <div class="navbar">
                <a href="#home" id="" class="nav-link nav-active">
                    <i class='bx bx-home'></i>
                    <div class="nav-linl-title">Inicio</div>
                </a>
                


                <a href="/pesquisa" class="nav-link">
                    <i class='bx bx-compass'></i>
                    <div class="nav-linl-title">Explore</div>
                </a>

                <a href="/filme/gerenciamento" class="nav-link">
                    <i class='bx bx-tv'></i>
                    <div class="nav-linl-title">Gerenciamento</div>
                </a>

              
                <a href="/logout" class="nav-link sair" style="display: none;">
                    <i class='bx bx-exit'></i>
                    <div class="nav-linl-title">Sair</div>
                </a>
                <a href="/user/login" id="logar" class="nav-link">
                    <i class='bx bx-user'></i>
                    <div class="nav-linl-title">Logar</div>
                </a>
               
                

            </div>

        </div>

     </header>

    <section class="home container" id="home">
        <p class="carr">Carregando...</p>
        
    </section>

    <!-- home end -->

     <!--Populares-->
     <section class="popular container" id="popular">
        <div class="heading">
            <h2 class="heading-title">Populares</h2>
            <div class="swiper-btn">

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
            </div>
        </div>

        <div class="popular-content swiper">
            <!--Box 1-->
            <div class="swiper-wrapper" id="slide-populares">
               
              </div>
             
        </div>

        </div>
     </section>
     <!-- Fim section-->
      <!-- Section movies-->
       <section class="movies container" id="movies">
        <div class="heading">
            <h2 class="heading-title">Show </h2>
        </div>

        
        <div class="movies-content" id="slides-show">
          
     
        </div>
       
        
       </section>

       
    

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/paginaPrincipal.js')}}"></script>
  <script src="{{ url_for('static', filename='js/sessionUsuario.js')}}"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".popular-content", {
      slidesPerView:1,
      spaceBetween: 10,
      loop: true,
      autoplay: {
        delay: 5500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints:{
        280: {
            slidesPerView: 1,
            spaceBetween: 10,
        },

      
      320: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      540: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      758: {
        slidesPerView: 3,
        spaceBetween: 15,
      },
      900: {
        slidesPerView: 4,
        spaceBetween: 20,
      },
    },
    });

  </script>
</body>

</html>
