<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Filmes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

  <!-- Demo styles -->
  

<body>
    <!-- headder -->
    <header>
        <div class="nav container">
           

            <!--- Pesquisa -->
            <form action="/pesquisa" method="post" class="search-box">
                <input type="search" name="campo" id="search-input" value="{{ pesquisa_campo }}" placeholder="search movie">
                <button type="submit" class='bx bx-send'></button>
            </form>
            <button class="ver-todos-btn">Filtrar</button>

           
            <div class="navbar">
                <a href="/" class="nav-link">
                    <i class='bx bx-home'></i>
                    <div class="nav-linl-title">Inicio</div>
                </a>
                {% if usuario != '' %}
                <a href="{{ usuario.urlDoPessoas() }}" class="nav-link">
                    <i class='bx bx-user'></i>
                    <div class="nav-linl-title">Perfil</div>
                </a>
                {% else %}
                <a href="/login" class="nav-link">
                    <i class='bx bx-user'></i>
                    <div class="nav-linl-title">Perfil</div>
                </a>
                {% endif %}


                <a href="/pesquisa" class="nav-link  nav-active">
                    <i class='bx bx-compass'></i>
                    <div class="nav-linl-title">Explore</div>
                </a>

                <a href="/gerenciamento" class="nav-link">
                    <i class='bx bx-tv'></i>
                    <div class="nav-linl-title">Gerenciamento</div>
                </a>

                {% if usuario != '' %}
                <a href="/logout" class="nav-link">
                    <i class='bx bx-exit'></i>
                    <div class="nav-linl-title">Sair</div>
                </a>
                {% else %}
                <a href="/login" class="nav-link">
                    <i class='bx bx-user'></i>
                    <div class="nav-linl-title">Logar</div>
                </a>
                {% endif %}
                

            </div>

        </div>

     </header>

     <!-- Fim section-->
      <!-- Section movies-->
       <br>
       <br>
       <br>
       <section class="movies container" id="movies">
        <div class="video-container">
            <div class="form-container">
                <h2 class="h2">Filtrar Filmes</h2>
                <form action="/filtrar" method="post">
                  
                  <div class="form-group">
                    <label for="data_inicio">Data de Lançamento - Início</label>
                    <input type="date" id="data_inicio" name="data_inicio">
                  </div>
            
                  <div class="form-group">
                    <label for="data_fim">Data de Lançamento - Fim</label>
                    <input type="date" id="data_fim" name="data_fim">
                  </div>
            
                  <div class="form-group">
                    <label for="avaliacao">Avaliação Mínima</label>
                    <select id="avaliacao" name="avaliacao_filtro">
                      <option value="">Todas</option>
                      <option value="0">Sem avaliações</option>
                      <option value="1">1 estrela</option>
                      <option value="2">2 estrelas</option>
                      <option value="3">3 estrelas</option>
                      <option value="4">4 estrelas</option>
                      <option value="5">5 estrelas</option>
                    </select>
                  </div>
            
                  <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria_filtro">
                      <option value="">Todas</option>
                      <option value="ação">Ação</option>
                      <option value="comédia">Comédia</option>
                      <option value="Ficção cientifica">Ficção cientifica</option>
                      <option value="drama">Drama</option>
                      <option value="terror">Terror</option>
                      <option value="suspense">Suspense</option>
                    </select>
                  </div>
                  <i class='bx bx-x close-video'></i>
                  <div class="button-container">
                    <button type="submit">Filtrar</button>
                  </div>
                
                </form>
               
              </div>
             
        </div>
       {% if filmes == [] %}
       <center>
            <p>Nenhum filme encontrado</p>
       </center>

       {% else %}
       
        <div class="movies-content">
            {% for filme in filmes %}
            <div class="movie-box">
                <img src="{{ url_for('static', filename='img/' + filme.foto)}}" alt="" class="movie-box-img">
                <div class="box-text">
                    <h2 class="movie-title">{{ filme.titulo }}</h2>
                    <span class="movie-type">{{ filme.genero }}</span>
                    <a href="{{ filme.perfil_video() }}" class="watch-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                    
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
       
        
       </section>

       <!--Fim da sessão-->
       
    

       <script>

 let video = document.querySelector('.video-container');

 let closebtn = document.querySelector('.close-video');
 let ver_todos_btn = document.querySelector('.ver-todos-btn')

ver_todos_btn.onclick = () =>{
    video.classList.add('show-video');
    
  
}

 closebtn.onclick = () =>{
  video.classList.remove('show-video');

 };
       </script>


  
  
</body>

</html>
